node_modules/
**/node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
*.jks
*.keystore

# Builds
**/dist
/build
/coverage
**/dist
**/build
**/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
